@charset "UTF-8";
#grilla {
  display: grid;
  grid-template-areas: ". header ." "arteYDiseño idiomas marketing" "arteYDiseño idiomas marketing" "programación sonido videojuegos" "programación sonido videojuegos"; /* Fila 4 */
  grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
  grid-template-columns: 3fr 3fr 3fr;
  row-gap: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  height: 60vh;
  margin: 80px;
  margin-bottom: 200px;
}
#grilla .celda {
  background-color: #364959;
  color: white;
  text-align: center;
}
#grilla #titulo {
  grid-area: header;
}
#grilla #arteYDiseño {
  grid-area: arteYDiseño;
}
#grilla #arteYDiseño section {
  font-weight: bold;
  margin-bottom: 25px;
}
#grilla #idiomas {
  grid-area: idiomas;
}
#grilla #idiomas section {
  font-weight: bold;
  margin-bottom: 25px;
}
#grilla #marketing {
  grid-area: marketing;
}
#grilla #marketing section {
  font-weight: bold;
  margin-bottom: 25px;
}
#grilla #programación {
  grid-area: programación;
}
#grilla #programación section {
  font-weight: bold;
  margin-bottom: 25px;
}
#grilla #sonido {
  grid-area: sonido;
}
#grilla #sonido section {
  font-weight: bold;
  margin-bottom: 25px;
}
#grilla #videojuegos {
  grid-area: videojuegos;
}
#grilla #videojuegos section {
  font-weight: bold;
  margin-bottom: 25px;
}
#grilla nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
  align-items: center;
}
#grilla .bg-custom {
  background-color: #364959;
}
@media (min-width: 600px) and (max-width: 1400px) {
  #grilla {
    /* Estilos para pantallas medianas */
    display: grid;
    grid-template-areas: ". header header ." "arteYDiseño arteYDiseño idiomas idiomas" "marketing marketing programación programación" "sonido sonido videojuegos videojuegos";
    grid-template-rows: 1fr 2fr 2fr 2fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 20px;
    -moz-column-gap: 20px;
         column-gap: 20px;
    height: 60vh;
    margin: 50px;
    margin-bottom: 200px;
    font-size: 13px;
  }
}
@media (max-width: 599px) {
  #grilla {
    /* Estilos para pantallas pequeñas */
  }
  #grilla #grilla {
    display: grid;
    grid-template-areas: "header" "arteYDiseño" "idiomas" "marketing" "programación" "sonido" "videojuegos";
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-columns: 1fr;
    row-gap: 20px;
    -moz-column-gap: 20px;
         column-gap: 20px;
    height: 60vh;
    margin: 30px;
    margin-bottom: 530px;
    font-size: 11px;
  }
}

/* Estilo de la imagen principal y el buscador */
#contenedorImagen {
  position: relative;
  margin-bottom: 40px;
}
#contenedorImagen #imagenHome {
  width: 100%;
  height: 500px;
}
#contenedorImagen #buscador {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  padding: 10px;
  font-size: 20px;
  border: none;
  border-radius: 20px;
}

/* Estilo del cuerpo */
#cuerpo {
  display: grid;
  grid-template-areas: ". irAlExplorador ." "textoPrincipal textoPrincipal textoPrincipal" "subcategoriaDestacada categoriaDestacada plataformaDestacada" "textoFinal textoFinal textoFinal";
  grid-template-rows: 1fr 2fr 2fr 2fr 2fr;
  grid-template-columns: 3fr 3fr 3fr;
  row-gap: 20px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  height: 60vh;
  margin: 80px;
  margin-bottom: 200px;
}
#cuerpo .celdaIndex {
  background-color: #D2D5D9;
  color: white;
  color: black;
  text-align: center;
}
#cuerpo #irAlExplorador {
  grid-area: irAlExplorador;
  color: 0;
}
#cuerpo #irAlExplorador header {
  font-weight: bold;
  font-size: 25px;
  color: black;
}
#cuerpo #textoPrincipal {
  grid-area: textoPrincipal;
  font-size: 5xp;
}
#cuerpo #subcategoriaDestacada {
  grid-area: subcategoriaDestacada;
}
#cuerpo #categoriaDestacada {
  grid-area: categoriaDestacada;
}
#cuerpo #plataformaDestacada {
  grid-area: plataformaDestacada;
}
#cuerpo #textoFinal {
  grid-area: textoFinal;
}
#cuerpo .imagenDeDestacados {
  width: 150px;
  margin-top: auto;
  margin-bottom: auto;
}

/* Estilo del cuerpo para pantallas pequeñas */
@media (max-width: 650px) {
  #cuerpo {
    display: grid;
    grid-template-areas: "irAlExplorador" "textoPrincipal" "subcategoriaDestacada" "categoriaDestacada" "plataformaDestacada" "textoFinal";
    grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-columns: 1fr;
    row-gap: 20px;
    -moz-column-gap: 20px;
         column-gap: 20px;
    height: 60vh;
    margin: 30px;
    margin-bottom: 530px;
    font-size: 11px;
  }
}
* {
  margin: 0;
  padding: 0;
  color: black;
}

/* Estilo del body */
#custom-body {
  font-family: "Kanit", sans-serif;
  background-color: #735134;
}

/* Estilo de los enlaces */
a {
  color: black;
  text-decoration: none;
  /* Estilos de enlaces al pasar el cursor */
}
a a:hover {
  text-decoration: underline;
}

/* Estilo del navbar */
#navBar {
  display: grid;
  grid-template-areas: "title" "nav";
  align-items: center;
  background-color: #d2d5d9;
  border: 2px solid black;
  padding: 10px;
}
#navBar h1 {
  margin: 0;
  text-align: center;
  grid-area: title;
}
#navBar h1 a {
  color: inherit;
  text-decoration: inherit;
}
#navBar nav {
  grid-area: nav;
}
#navBar nav ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 10px;
  margin: 0;
  padding: 0;
}
#navBar nav ul li {
  position: relative;
}
#navBar nav ul li:hover {
  border: 2px outset rgba(170, 199, 206, 0.9607843137);
}
#navBar nav ul li a {
  color: inherit;
  text-decoration: inherit;
  display: block;
  padding: 10px;
  background-color: #364959;
}
#navBar nav ul li a.linkNavItem2 {
  color: #909295;
}
#navBar nav ul li .listaOculta {
  display: none;
  position: absolute;
  background-color: #364959;
  margin: 0;
  padding: 10px;
  top: 100%;
  left: 0;
  width: 100%;
}
#navBar nav ul li .listaOculta li a {
  color: inherit;
  text-decoration: inherit;
  background-color: #d2d5d9;
}
#navBar nav ul li:hover > .listaOculta {
  display: block;
}
@media (max-width: 650px) {
  #navBar {
    grid-template-areas: "title" "nav";
  }
  #navBar nav ul {
    grid-template-columns: 1fr;
  }
}

/* Estilo del pie de página */
footer {
  background-color: grey;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 12px;
}
footer div {
  background-color: rgba(0, 0, 0, 0.2);
}/*# sourceMappingURL=main.css.map */